html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  :root {
      font-size: 62.5%
  }
  
  body {
    background-color: var(--background);
    /* Use a system font, if none are available use an available sans-sarif font */
    font-family: "Roboto",system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 2.4rem;
    color: #ccc;

    min-height: 100vh;
    margin: 0 auto;
    max-width: 80vmin;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    --primary: #D62828;
    --background: #003049;
    --board: #FECF72;
    --clear: #EAE2B7;
    --accent: #F77F00;
}

select {
    text-align: center;
}

h1 {
    margin: 1vmin 0;
    color: var(--primary);
    font-size: 8vmin;
    font-family: "Roboto";
}

label, button, option, select {
    font-size: 3vmin;
}

#grid {
    margin: 0 0 5vmin 0;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(8, 1fr);
    color: #333;
    user-select: none;
    border: solid 1px white;
    max-width: 95vw;
    
}

#grid > .cell {
    border: solid 1px white;
    background: var(--board);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vmin;

    width: 5vmin;
    height: 5vmin;
}

#grid.small > .cell {
    width: 8vmin;
    height: 8vmin;
}

#grid.medium > .cell {
    width: 6vmin;
    height: 6vmin;
}

#grid > .clear {
    background: var(--clear);
}

img.flag, img.mine {
    width: 80%;
    height: 80%;
}

#info {
    margin: 20px 0 2px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 60vmin;
    font-size: 2rem;
}
#flags-left span {
    font-size: 2.2rem;
    color: var(--accent);
}

#flags-left > img {
    width: 25px;
    height: 25px;
}

#resetButton {
    margin: 20px 0 0 0;
    width: auto;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#time {
    color: var(--accent);
}

@media only screen and (min-width: 768px) {

    #grid {
        width: auto;
    }
    #grid > .cell, #grid.small > .cell, #grid.medium > .cell {
        width: 40px;
        height: 40px;   
        font-size: 2.5rem;

    }
    #info {
        flex-direction: row;
        align-items: flex-end;
    }

    option, select, label, button {
        font-size: 1.8rem;
    }

    h1 {
        margin: 2vmin 0;
        font-size: 6rem;
    }
}
